
body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden;  */
}

.active-link {
  border-bottom: 2px solid white; 
  padding-bottom: 1rem;
}

.backg{
  background-image: url('./Images/13625_1.png');
  background-size: cover;
}
.herobg{
  background-image: url(./Images/Frame_9325.png);
  background-size: cover;
}
@media (max-width: 1024px){
  .backgs{
    background-image: url('./Images/13625_1.png');
    background-size: cover;
  }
}